region     = "{{ nomad_region }}"
datacenter = "{{ nomad_datacenter }}"
bind_addr  = "{{ nomad_bind_addr }}"
data_dir   = "{{ nomad_data_dir }}"
name       = "{{ nomad_node_name }}"

advertise {
  http = "{{ ansible_host }}"
  rpc  = "{{ ansible_host }}"
  serf = "{{ ansible_host }}"
}

consul {
  address          = "127.0.0.1:8500"
  auto_advertise   = true
  client_auto_join = true
  server_auto_join = true
}

server {
  enabled          = true
  bootstrap_expect = {{ nomad_bootstrap_expect }}

  server_join {
    retry_join = [{% for member in nomad_retry_join %}"{{ member }}"{% if not loop.last %}, {% endif %}{% endfor %}]
    retry_max = 0
    retry_interval = "15s"
  }
}

client {
  enabled           = true
  network_interface = "{{ nomad_network_interface }}"
  node_class        = "{{ nomad_node_class }}"
  cni_path          = "{{ nomad_cni_path }}"

  servers = [{% for member in nomad_retry_join %}"{{ member }}:4647"{% if not loop.last %}, {% endif %}{% endfor %}]

{% for volume in nomad_host_volumes %}
  host_volume "{{ volume.name }}" {
    path      = "{{ volume.path }}"
    read_only = {{ volume.read_only | lower }}
  }
{% endfor %}
}

plugin "docker" {
  config {
    allow_privileged = true
    volumes {
      enabled = true
    }
    allow_caps = ["ALL"]
  }
}

plugin "raw_exec" {
  config {
    enabled = true
  }
}

ui {
  enabled = true
}
