name: "Terragrunt Deploy"

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - "IaC/**"
      - ".github/workflows/deploy.yml"

permissions: {}

jobs:
  checks:
    uses: ./.github/workflows/terragrunt-checks.yml
    with:
      working_dir: IaC/production/homelab
    permissions:
      contents: read

  deploy:
    needs: [checks]
    uses: ./.github/workflows/terragrunt-run.yml
    permissions:
      contents: read
      id-token: write
      pull-requests: write
    with:
      working_dir: IaC/production/homelab
      command: "run --all --non-interactive -- apply"
      tg_comment: "1"
    secrets:
      aws_role_arn: arn:aws:iam::716182248480:role/Github-TF-State
      tailscale_auth_key: ${{ secrets.TS_AUTH_KEY }}
      kube_config: ${{ secrets.KUBE_CONFIG }}
      gh_token: ${{ secrets.GITHUB_TOKEN }}
