name: "Terragrunt Plan"

on:
  workflow_dispatch:
  pull_request:
    types: [opened, synchronize, reopened, edited]
    branches:
      - main
    paths:
      - "IaC/**"
      - ".github/workflows/plan.yml"

permissions: {}

jobs:
  checks:
    uses: ./.github/workflows/terragrunt-checks.yml
    with:
      working_dir: IaC/production/homelab

  plan:
    needs: [checks]
    uses: ./.github/workflows/terragrunt-run.yml
    with:
      working_dir: IaC/production/homelab
      command: "run --all --non-interactive --summary-per-unit --log-level stderr --log-format bare -- plan"
      tg_comment: "1"
    secrets:
      aws_role_arn: arn:aws:iam::716182248480:role/Github-TF-State
      tailscale_auth_key: ${{ secrets.TS_AUTH_KEY }}
      kube_config: ${{ secrets.KUBE_CONFIG }}
      gh_token: ${{ secrets.GITHUB_TOKEN }}
