name: "Release"

on:
  pull_request:
    types: [opened, synchronize, reopened, edited]
    branches:
      - main
  push:
    branches:
      - main

permissions: {}

jobs:
  release:
    uses: Stuhlmuller/workflows/.github/workflows/release.yml@f396233c815800e049c9def65a3562899a56110b # main
