name: "Terragrunt Checks"

on:
  workflow_call:
    inputs:
      working_dir:
        description: "Terragrunt working directory"
        required: true
        type: string

permissions: {}

jobs:
  checks:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: "Checkout"
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          persist-credentials: false

      - name: Check terragrunt HCL
        uses: gruntwork-io/terragrunt-action@5e86476ca61eaf74adb9c0525745f29f921f2199 # v3
        with:
          tg_dir: ${{ inputs.working_dir }}
          tg_command: "hcl fmt --check --diff"
